<strong>Hello {{ provider }},</strong>
<p>There has been an appointment cancelation, see details below:</p>
<p>
  <strong>Client: </strong> {{ user }} <br/ >
  <strong>Date/time: </strong> {{ date }} <br/ >
  <br/ >
  <small>
    This date/time is now available for a new appointment.
  </small>
</p>
